/* ROBOTO FRONT FROM GOOGLE (300, 400, 700) */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* SUBTRACT AND ADD DEFAULT STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}

nav {
    height: 80px;
    display: flex;    
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}